@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');

// Colors
$base-color: #3b3b3b;
$base-color-alpha: rgba(0, 0, 0, 0.4);

// Fonts
$base-font: 'Roboto', sans-serif;

// Widths
$base-width: 85%;
$base-max-witdh: 1000px;

// Margin & Padding
$base-padding: 0;
$base-margin: 0;

body {
  margin: $base-padding;
  padding: $base-margin;
  font-size: $base-font;
  position: relative;
  font-family: $base-font;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $base-color;
  background-image: url(assets/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    position: fixed;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $base-color-alpha;
  }
}

main {
  width: $base-width;
  max-width: $base-max-witdh;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 767px) {
    max-width: auto;
    width: 92%;
  }
}

button,
a {
  font-family: $base-font;
}
